# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SoftUni Java\Java Advanced\Java OOP\Java OOP Exam - 16 Apr 2020\Computers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
